{% extends 'base.html' %}
{% block body %}
  <!-- Navigation bar-->
  {% load crispy_forms_tags %}
  {% include 'sinppet/nav-bar.html' %}
  {% block nav %}
  {% endblock %}
  <!--Micro thoughts form  -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-0"></div>
      <div class="col-lg-6 col-sm-12">
        <div style="padding-bottom: 30px;" class="uk-text-lead uk-text-bold">
          Share your quick thoughts in here
        </div>
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input id="submit"class="ui secondary button" type="submit" value="Post" />
        </form>
      </div>
      <div class="col-lg-3 col-sm-0"></div>
    </div>
  </div>
  <!-- footer -->
  {% include 'sinppet/footer.html' %}
  {% block footer %}
  {% endblock %}
  
  <script>
  
  </script>
  <!--================================================================================================================================= -->
  <!--Css style  -------------------------------------------------------------------------------------- -->
  <!--================================================================================================================================= -->
  
  <style type="text/css" media="screen">
  html, body {
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  }
  #editor {
  height: 130px;
  
  }
  .container {
  min-height: 100%;
  }
  #counter {
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 1px;
  color: #aaa;
  padding: 5px 15px;
  text-align: right;
  }
  #submit{
  margin-top: 20px;
  }
  </style>
{% endblock %}