  <!-- Post card  ------------------------------------------------------------- -->
  <div class="row" style="margin-right: 10px; margin-left:10px; ">
    <div class="col-lg-3"> </div>
    <div class="col-lg-7">
      <div class="ui items">
        <!--====================================================================================== -->
        <!-- card type for thoughts  ------------------------------------------------------------- -->
        <div style="min-height: 100vh; padding-top: 30px; ">
          {% for obj in quickword %}
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div>
                    <p>{{ obj.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>  <span class="right floated">  {{ obj.pub_time|naturaltime }} </span></p>  
                  </div>
                  <p class="uk-text-lead"><span class="font-italic" > {{ obj.Initial_keyword_choices }}</span> 
                  {{ obj.micro_thought }}</p>
                  <div class="extra content">
                    <span>
                      Save
                    </span>
                    <span id="analysis"> Analysis </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="ui section divider"></div>
          {% endfor %}
          <!--================================================================================================== -->
          <!-- card type for article  ------------------------------------------------------------------------ -->
          <!--=================================================================================== -->
          {% for article in article_view %} <!-- article card -->
          {% autoescape off %}
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div>
                  <span class="right floated">  {{ article.article_pub_time|naturaltime }} </span>
                  <p>{{ article.user|capfirst }} <span class="meta"> CEO, Hubblelook </span> </p>
                  <div style="padding-bottom: 5px; padding-top:0px;"> <span> ARTICLE </span></div>
                  
                </div>
                <a class="uk-text-lead" href="{% url 'details' article.id article.slug %}" style="text-decoration: none; cursor: pointer;" >
                  <span class="font-italic"> {{ article.Initial_keyword_choices }}</span> {{ article.title|title }}
                </a>
                <p>
                  {{ article.micro_article|capfirst|truncatewords:50 }}
                </p>
                
                <div class="extra content">
                  <span>
                    Save
                  </span>
                  <span id="analysis"> Analysis </span>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endautoescape %}
      {% endfor %}
      <!--======================================================================================== -->
      <!-- card type for officila letter  (Oletter stand for official letter)--------------------- -->
      <!--====================================================================================== -->
      {% for Oletter in official_letter %} <!-- official letter  card -->
      <div class="item">
        <div class="content">
          <div class="ui selection list">
        <a class="ui large blue image label">     
          Official letter
          <div class="detail">from {{ user.username|capfirst }}</div>
        </a>   
            <span class="uk-align-right"> {{ Oletter.pub_time|naturaltime }} </span>
          </div>
          <a class="uk-text-lead letter" href="{% url 'offical-letter-details-view' Oletter.id %}"> {{ Oletter.title }}</a>
          <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; ">
          </div>
          <p> by <span class="meta">  {{ Oletter.letter_from }}</span> </p>
        </div>
      </div>
      <div class="ui section divider"></div>
    {% endfor %}
    <!--========================================================================================== -->
    <!-- card type for products  -------------------------------------------------------------------------------------- -->
    <!--========================================================================================== -->
    {% for product in addproduct %} <!-- product card -->
    <div class="ui itmes">
      <div class="item">
        <div class="content">
          <p>{{ product.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>
          <span class="uk-align-right"> {{ product.pub_time|naturaltime }} </span>
        </p>
        <div style="padding-bottom: 5px; padding-top:0px; "><span>PRODUCT</span></div>
        <div class="uk-text-center">
          <div class="uk-text-lead uk-text-bold">
            <a id="product" href="{% url 'add-product-view' product.id product.slug %}">{{ product.product_name|title  }}</a>
          </div>
          <p>
            {% if product.launched_time %}
              <span class="date"><span class="launched-in">Launched in</span> <strong>{{ product.launched_time }}</strong></span>
              {%  endif %}
            </p>
          </div>
          
          <div class="extra content">
            <span >
              Save
            </span>
            <span id="analysis"> Analysis </span>
            
          </div>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
  {% endfor %}
</div>
</div>
<!---
--->
</div>
</div>
<div class="col-lg-2"> </div>
</div>
