{% block nav %}
  <nav>
    <div class="main-container">
      <div class="ui large secondary menu">
        <a class="item" href="{% url 'home' %}"> <span id="logo">  Hubblelook </span>
        <div class="meta" style="padding-left: 4px; color: #8d8d8d;">
          Alpha
        </div>
        <div class="item uk-visible@s"><span id="logo-title"> Connect, Communicate, and Analyse Market </span></div>
      </a>
      <div class=" right menu fitted item">
        <!-- Uikits dropdown-->
        <!-- User can post three kind
        of post from here-->
        
        <div>
          <i class="pencil alternate icon uk-hidden@s"></i>
          <i class="pencil alternate icon uk-visible@s"></i>
          <a class="uk-text-capitalize uk-visible@s" >post here</a>
        </div>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li><a style="font-size: 15px; padding-bottom:8px;" href="{% url 'quick-word' %}"> Post Your Thought </a></li>
            <li><a style="font-size: 15px; padding-bottom:8px;" href="{% url 'article-form'  %}"> Post Your Article </a></li>
            <li><a style="font-size: 15px; padding-bottom:8px;" href="{% url 'add-product-form'  %}"> Add a Product </a></li>
          </ul>
        </div>
        
        {% if user.is_authenticated %}
          <!-- user profile redirect option through icon -->
          <div class="item user">
            <a  href="{% url 'profiles:portfolio' user.username  %}" class="uk-text-capitalize"
              uk-tooltip="title: Hi {{ user.username }}, this is your profile; pos: bottom">
              <b class="user-link uk-visible@s">{{ user.username|capfirst|truncatewords:1 }}</b>
              <i class="user outline icon uk-hidden@s"></i>
            </a>
          </div>
          <!-- Uikits dropdown item-->
          <div class="item">
            <div class="uk-inline">
              <div>
                <i class="bell outline icon uk-visible@s"></i>
                <a class="uk-text-capitalize uk-visible@s" >notification</a>
                <i class="bell outline icon uk-hidden@s"></i>
              </div>
              <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 100" uk-height-medium="min-height: 100">
                <ul class="uk-nav uk-dropdown-nav">
                  <div class="ui small feed">
                    <h4 class="ui header">Followers Activity</h4>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <a>Christian Rocha</a> signed up for the  site.
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <!--Tagged button -->
            <div class="item">
              <i class="tags icon"></i>
              <a class="">Tags </a>
            </div>
          </div>
          {%  endif %}
          {% if not user.is_authenticated %}
            <div class="item">
              <a class="" href="{% url 'login' %}">Sign-in</a>
              {%  else %}
              <a style="text-decoration: none; color: black;" class="uk-link-text uk-text-capitalize" href="{% url 'logout' %}">Sign out</a>
            </div>
            
            {%  endif %}
            
          </div>
        </div>
      </div>
    </nav>
    <!-- CSS style ------------------>
    <style>
    .main-container {
    padding-left: 10px;
    padding-left: 10px;
    }
    #logo {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    }
    #logo-title {
    
    padding-top: 2px;
    font-weight:bold;
    width: 200px;
    color: black;
    }
    #user-link {
    text-decoration: none;
    color: black;
    font-weight:normal;
    }
    .user-link{
    text-decoration: none;
    color: black;
    }
    .user {
    text-decoration: none;
    }
    #dropdown-design {
    min-height: 250px;
    padding-left: 5px;
    padding-right:5px;
    padding-bottom: 5px;
    padding-top: 5px;
    }
    </style>
  {% endblock %}