
{% block tips %}
<p class="uk-heading-primary uk-text-bold"> Know all tricks and tips about Hubblelook to make your life easier and simpler</p>
<ul>
  
  <p class="uk-heading-primary uk-text-bold">Tips:</p>
  <div class="uk-text-lead">
    <li ><span># SEARCH</span> Just search to see the result. No need to use any Hashtag </li>
    <li ><span># SEARCH</span> To get specific search result, use our default "initial Keywords" </li>
    <li ><span>#POST</span>  Be precise before posting your micro thoughts or micro article </li>
    <li > <span>#COMPANY</span>  As a company, you should put as much information as possible into your profile section</li>
    <li ><span>#POST</span>  Initial keywords would help you to shape your thoughs</li>
    <li ><span>#POST</span> Hubblelook is very easy to use due to "Initial Keywords" facility</li>
  </div>
</ul>
{% endblock %}