{% extends 'base.html' %}
{% block body %}
	<!--  Navigation bar-->
	{% include 'sinppet/second-nav-bar.html' %}
	{% block nav %}
	{% endblock %}
	
	<!-- customize navbar end here -->
	<!--==================================== -->
	<!-- First impression   -->
	<!--==================================== -->
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="Intro-one">
				<h4 id="intro-one-sub "> Know and understand market intutively </h4>
				<h4 id="intro-one-sub "> Market analysis for everyone </h4>
				<h4 id="intro-one-sub "> Hubblelook is the real benefit for the small businesses or startups </h4>
				<h4 id="intro-one-sub "> Anything about market </h4>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
	<!--==================================== -->
	<!-- How hubblelook works   -->
	<!--==================================== -->
	<div style="padding-bottom: 140px; cursor: pointer;">
		<div class="row">
			<div class="col-lg-2 col-sm-1"></div>
			<div class="col-lg-8 col-sm-10">
				<div class="ui message">
					<div class="ui large header">
						Hubblelook is extremply easy to use
					</div>
					<ul class="list">
						<div class="sub header">
						<li> <b>Step 1:</b> You have post in three ways which are Micro thoughts, Micro article and post your product details</li>
						<li> <b>Step 2:</b> Select a keyword before post "micro thoughts" and "micro article" which would allow you to segment your post </li>
						<li> <b>Step 3:</b> That's it! you are good to go. </li>
					</div>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-sm-1"></div>
		</div>
	</div>
	<!--==================================== -->
	<!-- Tntro three ends here  -->
	<!--==================================== -->
	<div uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 5; repeat: true">
		<div style="min-height:950px; background-color:#61082B;">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div style="color:#B4D0E7;" class="uk-heading-hero header-color header-hero uk-text-bold padding">Hubblelook is more than your daily financial newspaper </div>
					<p  style="color:white;" class="uk-text-lead padding">By reading financial newspapers/magazines we can learn about what's going on around us; information about stocks and products. But, Hubblelook provides you all the facilities you get from a financial newspaper, with customer care; you can do your own product or market analysis and communicate with people. Simply, what really people think about anything related to market, businesses, and economics, Hubblelook provides everything. And a surprising fact is that Hubblelook is very simple.
					</p>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
		<div style="background-color: #FFAFA2; min-height: 950px;">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div style="color: #1D2D83;" class="uk-heading-hero header-color header-hero uk-text-bold padding">"Initial keyword facility" is the core of Hubblelook platform </div>
					<p style="color: #000;" class="uk-text-lead padding">The concept of Initial Keyword Facility is very simple and it makes Hubblelook powerful enough to share, observe, and gather knowledge, and analyze market sectors, businesses, products, finance, and economics.
						We are using “Initial Keyword Facility” into two of our post methods, which are “Micro Thoughts” and “Micro Article”. These two methods are containing different kind of initial keywords for better synchronization with posts. Number of initial keywords in both methods are intentionally few and precise. Hubbelook is providing several facilities at a time through this "Initial Keyword Facility", such as review, analysis, knowledge and information about market and company, and customer care. Amazing fact is, to use these facilities all we have to do is to use "Initial Keyword Facility" properly.
					</p>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
		<div style="background-color: #005744; min-height: 950px;">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div style="color: #F6D331;" class="uk-heading-hero header-color header-hero uk-text-bold padding">Understand people intuitively, know their expectations and thought  </div>
					<p style="color: white;" class="uk-text-lead padding">Hubblelook's every initial keywords are dedicated to specific sectors. Since people can share their own thoughts through several organized ways, it would be easy for businesses and people to find out what really individuals think about market, specific products, and related matters.
						<br>
						This platform is designed to communicate with people, so that we can achieve our perspectives (market analysis and communication). From user interface (UI) to “Initial Keyword Facility”, everything’s primary priority is to establish responsive and continuous engagement.
					</p>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
		<div style="background-color: #1d2d83; min-height: 900px;">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div style="color: #2CC3B5;" class="uk-heading-hero header-color header-hero uk-text-bold padding">Customer care is becoming easy, quick and hassle free </div>
					<p style="color: #fff;" class="uk-text-lead padding">Hubblelook understands that relationship with customers is everything. Companies are using lots of mechanisms to provide flawless customer service, which has never been a simple job. We understand that taking care of individual customer is hard and that's why "Initial Keyword Facility" is being added to Hubblelook to make the service very simple and responsive.
						<br>
						More importantly, this service will be of great use to small businesses. They would be able to communicate with their customers, take care of them, and make their products better in an easy
					</p>
				</div>
				<div class="col-10"></div>
			</div>
		</div>
	</div>
</div>
<!--footer -->
<footer class="footer">
	
	<div class="row">
		<div class="col-2"></div>
		<div class="uk-text-center col-8">
			<div class="ui horizontal list">
				<a class="item" href="{% url 'about' %}">ABOUT </a>
				{% if user.is_authenticated %}
					<a class="item" href="{% url 'explore' %}"> LEARN </a>
				{% endif %}
				<a class="item" href="{% url 'products' %}">PRODUCTS</a>
				<a class="item" href="{% url 'job-view' %}">JOBS</a>
				<a class="item" href="{% url 'Privacy-View' %}">PRIVACY AND TERMS</a>
				<a class="item" href="{% url 'InvCon-view' %}">INVESTMENT</a>
				<a class="item" href="{% url 'customercare:customecare-view' %}"> KNOWLEDGE </a>
				<a class="item" href="{% url 'Contact-View' %}">CONTACT</a>
			</div>
		</div>
		
		<!--copyright code-->
		<div class="col-2">
			<div class="ui right floated horizontal list">
				<div class="disabled item" href="#">© Hubblelook 2018</div>
			</div>
		</div>
	</div>
	
</footer>
<!---->
<style type="text/css">
	body, html {
		background-color: #e0e0e0; /*#3333328  #ffffff*/
	}
	.guidlines {
		background: white;
		height:100px;
		width: 100px;
		position: absolute;
		
	}
	#guidlines-text {
		padding-top:30px;
		color: black;
		text-align: center;
	}
	.Intro-one {
		color: #484848;
		padding-top: 150px;
		padding-bottom:250px;
	}
	#intro-one-sub {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.Intro-two {
		color: #000;
	}
	#Intro-two-sub {
		padding-top: 6px;
		padding-bottom:6px;
		text-align: center;
	}
	.text-align{
		padding-top: 300px;
	}
	.intro-three-padding {
		padding-top:60px;
	}
	.intro-three-sub-padding {
		padding-top:70px;
		padding-bottom:100px;
	}
	#Intro-three-sub{
		padding-bottom:6px;
		padding-top:6px;
	}
	.Hubblelook-intro-two-container{
		min-height: 100vh;
		background-color: black;
	}
	.Hubblelook-intro-three-container{
		min-height: 100vh;
		background-color: black;
	}
	.header-hero {
		padding-top:150px;
		color: #1b1b1b;
	}
	p{
		color: #212121;
		padding-top:40px;
	}
	.header-color::selection {
		background-color: #3281a1;
		color: white;
	}
	p::selection {
		background-color: #3281a1;
		color: white;
	}
	h4::selection {
		background-color: #3281a1;
		color: white;
	}
	.footer {
	position: relative;
	padding-top:50px;
    padding-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #1d2d83;
	}
	footer div a {
	font-weight: bold;
	font-family:  'Roboto', sans-serif;
	color: white;
	}
	footer div a:hover {
	text-decoration: none;
	}
	.ui.list .list>a.item, .ui.list>a.item {
	color: white;
	}
	.ui.list .list>a.item, .ui.list>a.item:hover {
	color: white;
	}
</style>
{% endblock %}