{% extends 'base.html' %}
{% block body %}
  <!--  Navigation bar-->
{% include 'sinppet/nav-bar.html' %}
{% block nav %}
{% endblock %}
	
			<!-- customize navbar end here -->
			<!--==================================== -->
			<!-- First impression   -->
			<!--==================================== -->
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="Intro-one">
						<h4 id="intro-one-sub "> Know and understand market intutively </h4>
						<h4 id="intro-one-sub "> From basic to indepth market analysis for everyone </h4>
						<h4 id="intro-one-sub "> Hubblelook is the real benefit for the small businesses or startups </h4>
						<h4 id="intro-one-sub "> Anything about market, businesses, products, finance and economics </h4>

					</div>
				</div>
				<div class="col-1"></div>
			</div>
			<!--==================================== -->
			<!-- How hubblelook works   -->
			<!--==================================== -->
			<div class="Hubblelook-intro-two-container" uk-scrollspy="cls:uk-animation-fade; repeat: true">
				<div class="row">
					<div class="col-0"></div>
					
					<div class="col-6 uk-light">
						<div class="Intro-two" uk-scrollspy="cls:uk-animation-fade">
							<div class="guidlines uk-box-shadow-xlarge"> <!-- div>guidlines CSS -->
							<h5 id="guidlines-text"> Hubblelook Guidlines  </h5>
						</div>
						<div class="text-align">
							<h3 id="Intro-two-sub"> Three ways to post </h3>
							<h5 id="Intro-two-sub"> Thought  </h5>
							<h5 id="Intro-two-sub"> Micro article  </h5>
							<h5 id="Intro-two-sub"> product  </h5>
							
						</div>
					</div>
				</div>
				
				<div class="col-6" uk-scrollspy="cls:uk-animation-fade">
					<div class="Intro-two uk-light">
						<div class="text-align">
							<h3 id="Intro-two-sub"> Use Initital keyword before post "thought" and "micro article"  </h3>
							<p style="text-align: center;" class="uk-light"> Initial keyword would help you shape your post </p>
						</div>
					</div>
				</div>
				<div class="col-0"></div>
				
			</div>
		</div>
		
		<!--==================================== -->
		<!-- Intriduction of Initial Keywords  -->
		<!--==================================== -->
		<div class="Hubblelook-intro-three-container" uk-scrollspy="cls:uk-animation-fade; repeat: true">
			<div class="row intro-three-padding">
				<div class="col-0"></div>
				<div class="col-12">
					<div class="uk-box-shadow-xlarge uk-background uk-light " uk-scrollspy="cls:uk-animation-fade; delay: 150; repeat: true">
						<h1 style="padding-top: 30px; text-align: center;"> Introduction of "Initial keywords" </h1>
						<div class="intro-three-sub-padding">
							<div class="row">
								<div class="col-3"></div>
								<div class="col-3">
									<h4 id="Intro-three-sub"> Keywords for "Thought"</h4>
									<h5 id="Intro-three-sub">  I Think <a class="ui grey label">GLOBAL KEYWORD</a> </h5>
									<h5 id="Intro-three-sub">  Good part </h5>
									<h5 id="Intro-three-sub">  Bad part </h5>
									<h5 id="Intro-three-sub">  Review </h5>
									<h5 id="Intro-three-sub">  Ask <a class="ui grey label">ASK QUESTION</a></h5>
									<h5 id="Intro-three-sub">  Financial market <a class="ui grey label">STOCKS, DERIVATE MARKET AND MORE</a> </h5>
									<h5 id="Intro-three-sub">  Feed-back <a class="ui grey label">USE THIS FOR CUSTOMER CARE</a></h5>
								</div>
								<div class="col-3">
									<h4 id="Intro-three-sub"> Keywords for "Micro article" </h4>
									<h5 id="Intro-three-sub"> General </h5>
									<h5 id="Intro-three-sub"> Economics </h5>
									<h5 id="Intro-three-sub"> Market </h5>
									<h5 id="Intro-three-sub"> Financial market </h5>
								</div>
								<div class="col-3"></div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-0"></div>
			</div>
		</div>
		<!--==================================== -->
		<!-- Tntro three ends here  -->
		<!--==================================== -->
		<div class="row">
			<div class="col-2"></div>
			<div class="col-7">
				<div uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 300; repeat: true">
					
					<div class="uk-heading-hero header-color header-hero">Hubblelook is more than your daily financial newspaper </div>
					<p id="details">By reading financial newspapers/magazines we can learn about what's going on around us; information about stocks and products. But, Hubblelook provides you all the facilities you get from a financial newspaper, with customer care; you can do your own product or market analysis and communicate with people. Simply, what really people think about anything related to market, businesses, and economics, Hubblelook provides everything. And a surprising fact is that Hubblelook is very simple.
					</p>
				
				<div class="uk-heading-hero header-color header-hero">"Initial keyword facility" is the core of Hubblelook platform </div>
					<p id="details">The concept of Initial Keyword Facility is very simple and it makes Hubblelook powerful enough to share, observe, and gather knowledge, and analyze market sectors, businesses, products, finance, and economics.
					We are using “Initial Keyword Facility” into two of our post methods, which are “Micro Thoughts” and “Micro Article”. These two methods are containing different kind of initial keywords for better synchronization with posts. Number of initial keywords in both methods are intentionally few and precise. Hubbelook is providing several facilities at a time through this "Initial Keyword Facility", such as review, analysis, knowledge and information about market and company, and customer care. Amazing fact is, to use these facilities all we have to do is to use "Initial Keyword Facility" properly.
				</p>
				<div class="uk-heading-hero header-color header-hero">Understand people intuitively, know their expectations and thought  </div>
					<p id="details">Hubblelook's every initial keywords are dedicated to specific sectors. Since people can share their own thoughts through several organized ways, it would be easy for businesses and people to find out what really individuals think about market, specific products, and related matters.
					<br>
					This platform is designed to communicate with people, so that we can achieve our perspectives (market analysis and communication). From user interface (UI) to “Initial Keyword Facility”, everything’s primary priority is to establish responsive and continuous engagement.
				</p>
				<div class="uk-heading-hero header-color  header-hero">Customer care is becoming easy, quick and hassle free </div>
					<p id="details">Hubblelook understands that relationship with customers is everything. Companies are using lots of mechanisms to provide flawless customer service, which has never been a simple job. We understand that taking care of individual customer is hard and that's why "Initial Keyword Facility" is being added to Hubblelook to make the service very simple and responsive.
					<br>
					More importantly, this service will be of great use to small businesses. They would be able to communicate with their customers, take care of them, and make their products better in an easy manner.
				</p>
			</div>
			</div>
		</div>
		<div class="col-3"></div>
	</div>
	<!--footer -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}

<!--
	<footer class="footer">
		
		<div class="row">
			<div class="col-2 "></div>
			<div class="uk-text-center col-8">
				<div class="ui horizontal list ">
					<a class="item  uk-text-muted" href="{% url 'about' %}">ABOUT </a>
					{% if user.is_authenticated %}
						<a class="item uk-text-muted" href="{% url 'explore' %}"> EXPLORE </a>
					{% endif %}
					<a class="item  uk-text-muted" href="{% url 'products' %}">PRODUCTS</a>
					<a class="item  uk-text-muted" href="">JOBS</a>
					<a class="item  uk-text-muted" href="#">PRIVACY AND TERMS</a>
					<a class="item  uk-text-muted" href="{% url 'InvCon-view' %}">INVESTMENT</a>
					<a class="item  uk-text-muted" href="{% url 'customecare-view' %}"> KNOWLEDGE </a>
					<a class="item  uk-text-muted" href="{% url 'Contact-View' %}">CONTACT</a>
				</div>
			</div>
			
		
			<div class="col-2">
				<div class="ui right floated horizontal list ">
					<div class="disabled item  uk-text-muted">© Hubblelook 2018</div>
				</div>
			</div>
		</div>
		
	</footer>
-->
	<style type="text/css">
		body, html {
			background-color: #ffffff; /*#3333328*/
		}
		.guidlines {
			background: #e0e0e0;
			height:100px;
			width: 100px;
			position: absolute;
			
		}
		#guidlines-text {
			padding-top:30px;
			color: black;
			text-align: center;
		}
		.Intro-one {
			color: #484848;
			padding-top: 150px;
			padding-bottom:250px;
		}
		#intro-one-sub {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.Intro-two {
			color: #000;
		}
		#Intro-two-sub {
			padding-top: 6px;
			padding-bottom:6px;
			text-align: center;
		}
		.text-align{
			padding-top: 300px;
		
		}
	
		.intro-three-padding {
			padding-top:60px;
		}
		.intro-three-sub-padding {
			padding-top:70px;
			padding-bottom:100px;
		}
		#Intro-three-sub{
			padding-bottom:6px;
			padding-top:6px;
		}
		.Hubblelook-intro-two-container{
			min-height: 100vh;
			background-color: black;
		}
		.Hubblelook-intro-three-container{
			min-height: 100vh;
			background-color: black;
		}
		.uk-background-muted{
			background-color: TOMATO:
		}

		.header-hero {
			padding-top:150px;
			color: #1b1b1b;
		}
		p{
			color: #212121;
			padding-top:40px;
		}
		#details {
			font-size: 16px;
		}
		.footer {
		position: relative;
		margin-top:100px;
		margin-bottom: 20px;
		margin-left: 0px;
		margin-right: 0px;
		color: #f5f5f5;
		}
		footer div a {
		font-weight: bold;
		color: white;
		font-family: 'roboto', san-serif;
		}
		.copyright {
			color: white;
		}
	</style>
{% endblock %}