<!---- This the home page of Hubblelook ---->
<!-- base.html contains all CDN -->
{% extends 'base.html' %}
{% block body %}
{% load humanize %}
<!--  Navigation bar-->
{% include 'sinppet/nav-bar.html' %}
{% block nav %}
{% endblock %}
  <!--==============================-->
  <!--"Search bar" from sementic-ui -->
  <!--==============================-->
<form action="" method="GET">
  {% csrf_token %}
  <div class="row">
    <div class="col-lg-2"></div>
    <div class=" col-lg-8">
      <!-- development guidlines -->
      <div class="ui info message"> 
        <p class="ui header"> Development guidelines for search </p>
        <li>User should find the profile name by search</li>
        <li>Search by “Initial keywords”</li>
        <li>Search  product</li>
        <li>Search result should start from the latest post</li>
        <li>If user writes @google team it should show us all the information about team from team tab.</li>
        <li>If user writes @google investment it should show us all the information about investment from the team tab.</li>
        <li>If user writes @google about it should show us all the information about from team tab.</li>
      </div>
      <!-- development guidlines endhere -->
  <!--==============================-->
  <!--Main search bar -->
  <!--==============================-->
      <div class="ui fluid big icon input" style="margin-top: 50px; margin-left:4px; margin-right:4px;">
        <input  type="search" placeholder="Search anything about market, economy and more" name="q" >
        <i class="search icon"></i>
      </div>
      <div class="uk-text-center" style="margin-bottom: 15px;">
        <button style="margin-top: 20px;" type="submit" class="ui primary button" value="search"> Search </button>
        <button style="margin-top: 20px;" href="#modal-full" uk-toggle class="ui primary button"> Quick Learn and Tips </button>
      </div>
      
      <!-- Quick learn button and modal -->
      <div class="uk-text-center" style="padding-bottom: 20px;">
        <div id="modal-full" class="uk-modal-full" uk-modal>
          <div class="uk-modal-dialog">
            <div class="uk-modal-close-full uk-close-large" uk-close></div>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-padding-large uk-align-center" uk-height-viewport>
                <!-- quick tips -->
                {% include 'sinppet/quick-tips.html' %}
                {% block tips %}
                {% endblock %}
                <!-- explaination end here -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end here  -->
    </div>
    <div class=" col-lg-2"></div>
  </div>
</form>

    <!-- development guidlines -->
      <div class="ui info message"> 
        <p class="ui header"> Development guidelines </p>
        <p class="uk-text-lead">At the home page or search option, we need a facility for the user just to read blogs or see products or thoughts by clicking buttons. It can be achieved several ways which are typing in the search bar such as “I think, ask, info ” or create a button to get that result. </p>

      </div>
    <!-- development guidlines endhere -->
  <!-- Main introduction board -------------------------------------------------------------------------------- -->
<div class="ui placeholder segment">
 
    <p class="uk-heading-primary  uk-text-center uk-text-bold">Know the market. Market analysis for everyone. Engage with your customer.</p>
    <p class="uk-heading-primary  uk-text-center uk-text-bold"> All you need to connect and communicate with the Market. </p>

  <p style="padding-top: 10px;" class=" uk-text-center uk-text-lead">Communicate with market from every perspective/ Studying market becomes easier/ Understand what people think about your products.</p>
    <!-- Explore and why Hubbleook button-------------------------------------------------------------------------------- -->
  <p uk-margin class="uk-text-center" style="padding-top: 50px; padding-bottom:50px;">
    <a style="color: white;"  href="{% url 'explore' %}" ><button type="button" class="btn btn-dark">Learn more</button></a>
    <a style="color: white;"  href="{% url 'why-hubblelook' %}" ><button type="button" class="btn btn-dark">Why Hubblelook</button></a>
  </p>
</div>

<!--Post templates  -->
<div class="row" style="margin-right: 10px; margin-left:10px; ">
  <!--  Grid from Boothstrape -->
  <div class="col-lg-3"> </div>
  <div class="col-lg-7">
    <div style="padding-top: 30px;">
      {% for post in posts %}
        {% if post.micro_thought %}
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div>
                  <p>{{ post.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>
                  <span class="right floated">{{ post.pub_time|naturaltime }} </span></p>
                </div>
                <!-- Templates for Microthoughts -->
                <p class="uk-text-lead"><span class="ui big label" > {{ post.Initial_keyword_for_thoughts }}  </span> {{ post.micro_thought }}</p>
                <!-- end templates -->
                <div class="extra content">
                  <span> Save</span>
                  <span > Analysis </span>
                  <span> Share</span>
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endif %}
        <!-- Templates for Article -->
        {% if post.micro_article %}
          <div class="ui items">
            <div class="item">
              <div class="content">
                <p>{{ post.user|capfirst }} <span class="meta"> CEO, Hubblelook </span> <span class="right floated">{{ post.pub_time|naturaltime }} </span> <span class="uk-text-meta"> , Article </span> </p>
                <a class="uk-text-lead" href="{% url 'details' post.id post.slug %}" style="text-decoration: none;
                  cursor: pointer;" >
                  {% autoescape off %}
                  <p><span class="ui big label"> {{ post.Initial_keyword_for_articles }} </span> {{ post.article_title|title }} </p> </a>
                {% endautoescape %}
                <div class="extra content">
                  <span> Save</span>
                  <span > Analysis </span>
                  <span> Share</span>
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endif %}
        <!-- end templates -->

        <!-- Templates for Product -->
        {% if post.product_name %}
          <div class="ui items">
            <div class="item">
              <div class="content">
                <p>{{ post.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>
                <span class="right floated">{{ post.pub_time|naturaltime }} </span></p>
                <div style="padding-bottom: 5px; padding-top:0px; "><span>PRODUCT</span></div>
                <div class="uk-text-center">
                    <a id="product" href="{% url 'add-product-view' post.id post.slug %}">
                      <p class="uk-text-lead uk-text-bold">{{ post.product_name|title  }}</p></a> 
                  <p>
                    {% if post.launched_time %}
                      <span class="date"><span class="launched-in">Launched in</span> <strong>{{ post.launched_time }}</strong></span>
                      {%  endif %}
                    </p>
                  </div>
                  <div class="extra content">
                    <span> Save</span>
                    <span id="analysis"> Analysis </span>
                    <span> Share</span>
                  </div>
                </div>
              </div>
            </div>
  <!-- Templates for Product -->


            <div class="ui section divider"></div>
          {% endif %}
        {% endfor %}
        <!----- official letter  card ---->
      
        {% for letter in official_letter %}
          <div class="item">
            <div class="content">
            
              <div class="ui selection list">
                <a class="ui blue image label">
                  Official letter
                  <div class="detail">from {{ user.username|capfirst }}</div>
                </a>
                <span class="uk-align-right"> {{ letter.pub_time|naturaltime }} </span>
              </div>

              <a class="uk-text-lead letter" href="{% url 'letter-details' letter.id letter.slug %}"> {{ letter.title }}</a>
              <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; ">
              </div>
              <p> by <span class="meta">  {{ letter.letter_from }}</span> </p>
                  <div class="extra content">
                    <span> Save</span>
                    <span id="analysis"> Analysis </span>
                    <span> Share</span>
                  </div>
            </div>
          </div>
          <div class="ui section divider"></div>
    
        {% endfor %}
      </div>
      <div class="col-lg-2"> </div>
    </div>
  </div>
<!-- end templates -->
<!------------------------------ -->

<!--  Footer  -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}

<!--css style  -------------------------------------------- -->
<style type="text/css">

.main-header {
  padding-left: 30px;
  padding-right: 30px
}

.jumbotron {
  background-color: #272329; 
     /* Background color for Jumbotron #272329, #979ba9 */
}

.color {
  color: #002984;
}

.padding {
  padding-top: 80px
}

.uk-modal-dialog {
  background-color: #fafafa;
}

.ui.secondary.button {
  background-color: #16171b;
}

.uk-modal-close-full {
  background-color: #fafafa;   /* another proposed color #979eae */
  color: black;
}

.sub-header {
  padding-top: 10px;
  font-size: 16px;
  color: #8d8d8d;
  cursor: pointer
}

.sub-option {
  padding-top: 10px
}

#exploreBtn {
  margin-left: 45%
}

#quick-word-description {
  padding-left: 10px
}

.launched-in {
  color: #1976D2;
  font-weight: bold
}

#align-icon {
  padding-left: 4px
}

#product-post-card-image {
  width: 769px;
  height: 270px
}

.grid-image {
  width: 150px;
  height: 150px
}

#product {
  text-align: center;
  color:#16171b;
}
#product:hover {
  color: #16171b;
  cursor: pointer;
}

.uk-button-danger {
  background-color: #c66a53;
}

.uk-button-danger:hover {
  background-color: #c66a53;
}

#product:hover {
  text-decoration: none;
}

.article-details {
  font-size: 15px
}

.letter:hover {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
</style>
{% endblock %}