<!---- This the home page of Hubblelook ---->
<!-- base.html contains all CDN -->
{% extends 'base.html' %}
{% block body %}
  {% load humanize %}
  <!--  Navigation bar-->
  {% include 'sinppet/nav-bar.html' %}
  {% block nav %}
  {% endblock %}
  <!--==============================-->
  <!--"Search bar" from sementic-ui -->
  <!--==============================-->
<form action="" method="GET">
  {% csrf_token %}
  <div class="row">
    <div class="col-lg-2"></div>
    <div class=" col-lg-8">
      <!-- Main search bar  -->
      <div class="ui fluid big icon input" style="margin-top: 50px; margin-left:4px; margin-right:4px;">
        <input  type="search" placeholder="Search anything about market, economy and more" name="q" >
        <i class="search icon"></i>
      </div>
      <div class="uk-text-center" style="margin-bottom: 15px;">
        <button style="margin-top: 20px;" type="submit" class="ui large button uk-box-shadow-medium" value="search"> Search </button>
        <button style="margin-top: 20px;" href="#modal-full" uk-toggle class="ui large button uk-box-shadow-medium"> Quick Learn and Tips </button>
      </div>
      
      <!-- Quick learn button and modal -->
      <div class="uk-text-center" style="padding-bottom: 20px;">
        <div id="modal-full" class="uk-modal-full" uk-modal>
          <div class="uk-modal-dialog">
            <div class="uk-modal-close-full uk-close-large" uk-close></div>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-padding-large uk-align-center" uk-height-viewport>
                <!-- quick tips -->
                {% include 'sinppet/quick-tips.html' %}
                {% block tips %}
                {% endblock %}
                <!-- explaination end here -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end here  -->
    </div>
    <div class=" col-lg-2"></div>
  </div>
</form>
  <!--==================================================================================================== -->
  <!-- Jumbotorn header  --------------------------------------------------------------------------------- -->
  <!--==================================================================================================== -->
<div class="home-header">
  <div class="jumbotron uk-box-shadow-medium">
    <div class="container">
      <div class="uk-heading-primary uk-text-bold" style="color: #e6edff; padding-top: 50px; "> All you need to connect and communicate with the Market.<br> Know the market. Market analysis for everyone. Engage with your customer. </div>
      
      <p class="uk-text-lead uk-light" style="padding-bottom: 30px; padding-top: 30px;">
      Communicate market from every perspective/ Studying market becomes easier/ Understand what people think about your products.</p>
      <!-- Explore and why Hubblelook button -->
      <p class="uk-text-center" style="padding-bottom:30px; padding-top: 30px;" >
        <button class="uk-button uk-button-danger"> <a style="color: white;"  href="{% url 'explore' %}" >Learn more </a> </button>
        <button class="uk-button uk-button-danger"> <a style="color: white;"  href="{% url 'why-hubblelook' %}" >Why should I use Hubblelook? </a> </button>
      </p>
      <!-- end -->
    </div>
  </div>
</div>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <!-- Post card  ------------------------------------------------------------- -->
  <div class="row" style="margin-right: 10px; margin-left:10px; ">
    <div class="col-lg-3"> </div>
    <div class="col-lg-7">
      <div class="ui items">


        <!--====================================================================================== -->
        <!-- card type for thoughts  ------------------------------------------------------------- -->
        <!--================================================================================== -->
        
        <div style="min-height: 100vh; padding-top: 30px; ">
          {% for obj in quickword %}
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div>
                    <p>{{ obj.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>  <span class="right floated">  {{ obj.pub_time|naturaltime }} </span></p>
                    
                  </div>
                  <p class="uk-text-lead"><span class="font-italic" > {{ obj.Initial_keyword_choices }}  </span> {{ obj.micro_thought }}</p>
                  <div class="extra content">
                    <span>
                      Save
                    </span>
                    <span id="analysis"> Analysis </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="ui section divider"></div>
          {% endfor %}
          <!--================================================================================================== -->
          <!-- card type for article  ------------------------------------------------------------------------ -->
          <!--=================================================================================== -->
          {% for article in article_view %} <!-- article card -->
          {% autoescape off %}
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div>
                  <span class="right floated">  {{ article.article_pub_time|naturaltime }} </span>
                  <p>{{ article.user|capfirst }} <span class="meta"> CEO, Hubblelook </span> </p>
                  <div style="padding-bottom: 5px; padding-top:0px;"> <span> ARTICLE </span></div>
                  
                </div>
                <a class="uk-text-lead" href="{% url 'details' article.id article.slug %}" style="text-decoration: none; cursor: pointer;" >
                  <span class="font-italic"> {{ article.Initial_keyword_choices }}</span> {{ article.title|title }}
                </a>
                <p>
                  {{ article.micro_article|capfirst|truncatewords:50 }}
                </p>
                
                <div class="extra content">
                  <span>
                    Save
                  </span>
                  <span id="analysis"> Analysis </span>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endautoescape %}
      {% endfor %}
      <!--======================================================================================== -->
      <!-- card type for officila letter  (Oletter stand for official letter)--------------------- -->
      <!--====================================================================================== -->
      {% for Oletter in official_letter %} <!-- official letter  card -->
      <div class="item">
        <div class="content">
          <div class="ui selection list">
            <div class="ui horizontal large blue label">
              official letter
            </div>
            
            <span class="uk-align-right"> {{ Oletter.pub_time|naturaltime }} </span>
            
          </div>
          <a class="uk-text-lead letter" href="{% url 'offical-letter-details-view' Oletter.id %}"> {{ Oletter.title }}</a>
          <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; ">
          </div>
          <p> From <span class="meta">  {{ Oletter.letter_from }}</span> </p>
        </div>
      </div>
      <div class="ui section divider"></div>
    {% endfor %}
    <!--========================================================================================== -->
    <!-- card type for products  -------------------------------------------------------------------------------------- -->
    <!--========================================================================================== -->
    {% for product in addproduct %} <!-- product card -->
    <div class="ui itmes">
      <div class="item">
        <div class="content">
          <p>{{ product.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>
          <span class="uk-align-right"> {{ product.pub_time|naturaltime }} </span>
        </p>
        <div style="padding-bottom: 5px; padding-top:0px; "><span>PRODUCT</span></div>
        <div class="uk-text-center">
          <div class="uk-text-lead uk-text-bold">
            <a id="product" href="{% url 'add-product-view' product.id product.slug %}">{{ product.product_name|title  }}</a>
          </div>
          <p>
            {% if product.launched_time %}
              <span class="date"><span class="launched-in">Launched in</span> <strong>{{ product.launched_time }}</strong></span>
              {%  endif %}
            </p>
          </div>
          
          <div class="extra content">
            <span >
              Save
            </span>
            <span id="analysis"> Analysis </span>
            
          </div>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
  {% endfor %}
</div>
</div>
<!---
--->
</div>
</div>
<div class="col-lg-2"> </div>
</div>
<!--if no post then this template will appear  ---------------------------------- -->
<!--============================================================== -->
<!------------------------------------------------------------------------>
<!--  Footer  -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}
<!--================================================================================================= -->
<!--Css style  -------------------------------------------------------------------------------------- -->
<style type="text/css">
body,
html {
}
.main-header {
padding-left: 30px;
padding-right: 30px
}
.jumbotron {
background-color: #272329; #979ba9   /* Background color for Jumbotron */
}
.color {
color:#002984;
}
.padding {
padding-top: 80px
}
.uk-modal-dialog {
background-color: #fafafa;
}
.ui.secondary.button{
  background-color: #16171b;
}
.uk-modal-close-full {
background-color: #fafafa;   /* another proposed color #979eae */
color: black;
}
.sub-header {
padding-top: 10px;
font-size: 16px;
color: #8d8d8d;
cursor: pointer
}
.sub-option {
padding-top: 10px
}
#exploreBtn {
margin-left: 45%
}
#quick-word-description {
padding-left: 10px
}
.launched-in {
color: #1976D2;
font-weight: bold
}
#align-icon {
padding-left: 4px
}
#product-post-card-image {
width: 769px;
height: 270px
}
.grid-image {
width: 150px;
height: 150px
}
#product {
text-align: center
}
.uk-button-danger {
background-color: #c66a53;
}
.uk-button-danger:hover {
background-color: #c66a53;
}

#product:hover {
text-decoration: none;
}
.article-details {
font-size: 15px
}
.letter:hover {
text-decoration: none;
}
/*
input[type="search"] {
border-radius: 5px;
color: black;
background-color: #fff;
border:1px solid #aaa;
cursor: text;
height: 50px;
width: 100%;
font-size: 15.5px;
padding-left: 5px;
word-spacing: 2px;

}
input[type="search"]:hover, input[type="search"]:focus {
border:1px solid #aaa;


}
*/

</style>
{% endblock %}