p
<div class="ui grid">
	<div class="row">
		 <div class="three wide column"></div>
			  <div class="center aligned ten wide column">
			  	<h1 class="donation-header"> Donate us but it's not really a donation!</h1>
			<h6> This donation would help us to grow and as return we are offering some premium facilty which would help you boost your business</h6>

			  </div>
       <div class="three wide column"></div>	
	</div>
</div>


<!-- sponsership package offer another model--> <!-- Used bootstrape grid system-->

<div class="container">
  <div class="row">
  	<div class="col-lg-2"></div>
  <div class="col-lg-8">

	<div class="ui center aligned secondary inverted segment">
	  <p> 1000$ package for sponsers </p>
	</div>
	<h5 class="ui center aligned top attached header">
	  Product
	</h5>
	<div class="ui center aligned attached segment">
	  <p>$3000 worth credit</p>
	</div>
	<h5 class="ui center aligned attached header">
	  Support reward
	</h5>
	<div class="ui center aligned  attached segment">
	  <p> Mentioning your company name and logo into our site</p>
	</div>
	<h5 class="ui center aligned  attached header">
	  Promotion
	</h5>
	<div class="ui center aligned attached segment">
	  <p>Introduce your company for backed us </p>
	</div>
	<h5 class="ui center aligned attached header">
	  Self-promotion
	</h5>
	<div class="ui center aligned attached segment">
	  <p> Take credit as you supported us initialy  </p>
	</div>
	<div style="text-align: center;" class="ui bottom attached warning message">
	  <i class="warning icon"></i>
	  Maximum seven sponser can be part of this program
	</div>
</div>
	     <div class="col-lg-2"></div>	
	 </div>
  </div>






<!-- billing --> <!-- Used bootstrape grid system-->

<div class="billing">  <!-- class to put it into right position -->
<div class="container">
  <div class="row">
  	<div class="col-lg-2"></div>
      <div class="col-lg-8">
		<div class="ui steps">
		  <div class="active step">
		    <i class="payment icon"></i>
		    <div class="content">
		      <div class="title">Sponsor us</div>
		      <div class="description"> Minimum or maximum $1000 </div>
		    </div>
		  </div>
		</div>
	  </div>
	<div class="col-lg-2"></div>
	</div>
	 </div>
   </div>

<!-- contact for investment -->
<div class="invesment">
 <div class="container">
   <div class="row">
   	<div class="col-lg-2"></div>
       <div class="col-lg-8">
       	 <div class="ui center aligned segment">

 			<h5> Great invesment oppourtunity </h5>
 			<h6> Hubblelook also seeking seed-funding as well, to know more do contact us</h6>
 			<a href="mmrshohan09@gmail.com"> mmrshohan09@gmail.com </a>
 		</div>
		  </div>
 	   <div class="col-lg-2"></div>
 	 </div>
    </div>
</div>


{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}


<style type="text/css">
	
body, html {

	background-color: #FAFAFA;
	margin: 0;

}

.sponsership-details {
	padding-top: 40px;
}


.donation-header{
	font-size: 60px;
	padding-top: 40px;
}

.billing {
	padding-top: 40px;
	padding-bottom: 50px;
	text-align: center;
}
#investmemt{
	text-align: center;
}


</style>

{% endblock %}



