{% extends 'base.html' %}
{% block body %}
{% load humanize %}
{% load static %}
<nav>
	<div class="row" >
		<div class="col-12 uk-text-center">
			<p style="font-family: 'Oswald', sans-serif; font-size: 35px; font-weight: bold; padding-bottom: 70px; padding-top: 25px;"> Hubblelook </p>
		</div>
	</div>
</nav>
<div class="row" style="min-height: 50%;">
	<div class="col-1"></div>
	<div class="col-5">
		<p class="uk-heading-primary uk-text-bold">Hubblelook revolutionized the way we communication, explore and analysis market</p>
		<p class="uk-text-lead uk-text-bold" style="color: #6b7b8e;"> Connection, communication, share, market study, market analysis ,and customer care </p>
	</div>
	<div class="col-6">
		<img class="ui huge image" src="{% static 'hello.jpg' %}">
	</div>
</div>


<div class="row">
	<div class="col-3"></div>
	<div class="col-6 uk-text-center"  style="min-height: 500px;" >
		<p class="uk-heading-primary uk-text-bold">A platform design to connect and analysis market profoundly</p>
		<p class="uk-text-lead uk-text-bold" style="color: #6b7b8e;"> Initial Keyword Facility, Customer care, discover market and more </p>
	</div>
	<div class="col-3"></div>
</div>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6 uk-text-center"  style="min-height: 500px;" >
		<p class="uk-heading-primary uk-text-bold">Completly new way to share and communicate with others</p>
		<p class="uk-text-lead uk-text-bold" style="color: #6b7b8e;"> Use a keyword before share your post, every keyword has its own purpose   </p>
	</div>
	<div class="col-3"></div>
</div>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6 uk-text-center"  style="min-height: 500px;" >
		<p class="uk-heading-primary uk-text-bold">One platform brilliantly designed for business and individuals </p>
		<p class="uk-text-lead uk-text-bold" style="color: #6b7b8e;"> Hubblelook brilliantly designed for business nad individuals to achive their purpose   </p>
	</div>
	<div class="col-3"></div>
</div>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6 uk-text-center"  style="min-height: 500px;" >
		<p class="uk-heading-primary uk-text-bold">Hubblelook is your morning financial newspaper and more than that </p>
		<p class="uk-text-lead uk-text-bold" style="color: #6b7b8e;"> Hubblelook brilliantly designed for business nad individuals to achive their purpose   </p>
	</div>
	<div class="col-3"></div>
</div>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6 uk-text-center"  style="min-height: 500px;" >
		<p class="uk-heading-primary uk-text-bold">Everything extremly organised and refreshingly simple</p>
		<p class="uk-text-lead uk-text-bold" style="color: #6b7b8e;"> Search, finding product, study market, reading news and communicate with business and people are simpler than you can imagine  </p>
	</div>
	<div class="col-3"></div>
</div>


























{% endblock %}