{% extends 'base.html' %}
{% block body %}
	{% load humanize %}
	<!-- Navigation bar -->
	{% include 'sinppet/second-nav-bar.html' %}
	{% block nav %}
	{% endblock %}
	<div class="row" style="padding-top: 60px;">
		<div class="col-2"></div>
		<div class="col-8">
			<!-- development guidlines -->
			<div class="ui info message"> 
				<p class="ui header"> Development guidelines </p>
				<p class="ui sub header"> this is a demo page for customer care view. </p>
				<p class="uk-text-lead">Our customer care keyword is a dedicated keyword for customer care. When a user posts something to seek “customer care” by selecting this specific keyword "customer-care", this post should go to that specific company profile which user must have to tag as “@company” in the customer care tab.</p> 
				<br>
				<p class="uk-text-lead">A user who posted it they should see this “customer care post” from their profile and this post have to be only me since customer care is very personal. </p>

			</div>
			<!-- development guidlines endhere -->

			<button class="ui blue button"> Customer care posted by you </button>
			<!-- remove this "Customer care posted by people" button if this is business account -->
			<button class="ui blue button"> Customer care posted by people  </button>
		</div>
		<div class="col-2"></div>
	</div>
{% endblock %}