{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
	<!--  Navigation bar-->
	{% load crispy_forms_tags %}
	{% include 'sinppet/nav-bar.html' %}
	{% block nav %}
	{% endblock %}
	<div id="main-container">
		<div class="row">
			<div class="col-lg-3 col-sm-0"> </div>
			<div class="col-lg-6 col-sm-12">
				<form method="post" action="">
					{% csrf_token %}
					{{ form.media }}
					{{ form|crispy }}
					
					
					<input class="ui button" type="submit" value="Post" />
				</form>
			</div>
			<div class="col-lg-3 col-sm-0"></div>
		</div>
	</div>
	<!--  Footer  -->
	{% include 'sinppet/footer.html' %}
	{% block footer %}
	{% endblock %}

	<script>
    var editor = new Jodit("#editor", {
      height: 400,
    "disablePlugins": "color,font,table,tableKeyboardNavigation,media"
    });

</script>
	
	<style>
	html, body {
		margin-left:10px;
		margin-right: 10px;
	}
	#main-container {
		min-height: 100vh;
	}
	</style>
{% endblock %}