{% extends 'base.html' %}
{% block body %}
	{% load humanize %}
	<!-- Navigation bar -->
	{% include 'sinppet/second-nav-bar.html' %}
	{% block nav %}
	{% endblock %}

<!-- Cdn for material design  ---------->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- Cdn end  ---------->


<!-- uikits.com   ---------->
<div class="" style="padding-top: 50px; padding-bottom:100px;">
	<div class="grid">  <!-- bootstrape grid   -->
	<div class="row">
		<div class="col-lg-2"></div>
		<!-- another grid with profile details -->
		<div class="col-lg-8">
			<!-- user avater/ profile picture -->
			<img class="ui medium circular image" src="{{ edit.user_photo.url }}" />
			<p class="uk-heading-primary uk-text-bold">{{ edit.name }}</p>
			{% if edit.title %}
				<div class="uk-text-lead">{{ edit.title }}</div>
			{% endif %}
			<!--  url and additional url  -->
			{% if edit.url %}
				<div style="padding-top: 20px; padding-bottom: 20px;" >
					<a href="{{ edit.url }}"><p class="uk-text-large">{{ edit.url|urlize }} {% if edit.additional_url %} 
					<b> / </b>
						<a href="{{ edit.additional_url }}">{{ edit.additional_url }} </a> {% endif %} </p></a>
					</div>
				{% endif %}
				<!--  Type of a company  -->
				{% if edit.Type_of_company %}
					<p class="uk-text-lead"> Type: {{ edit.Type_of_company }}
						<br> Headquarter: {{ edit.Headquarter }}
						<br> Stock: {{ edit.stock_market }}
					</p>
				{% endif %}
				{% if edit.established %}
					<p class="ui header"> Founded in: </p>
					<p class="uk-text-lead">{{ edit.established }} </p>
				{% endif %}
				<!-- About team and Investment button -->
				<button class="ui linkedin button"> Follow </button>
				<button class="ui linkedin button">About</button>
				<a href="{% url 'profiles:team-page' user.username %}"><button class="ui linkedin button">Team</button></a>
				<button class="ui linkedin button">Investment</button>
				<!-- Setting button -->
				<a id="sub-button" href="{% url 'profiles:settings' user.username %}"> <button class="circular ui icon button"><i class="icon settings"></i></button></a>
				<!-- Company Information until here -->
			</div>
			<div class="col-2"></div>
		</div>
	</div>
</div>
<div class="ui section divider"></div>
<!-- profile section end here   -->
<!--  Profile post segment buttions and more  -->

<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		<div style="padding-bottom: 50px;">
			<p style="text-align: center;" class="uk-text-bold">
				<!-- Flat button from material design -->		
				<button id="space-between" type="button" class="mdl-button mdl-js-button"><a id="sub-button" href="{% url 'profiles:customer-care' user.username %}"> Customer care </a></button>		
				<button id="space-between" type="button" class="mdl-button mdl-js-button"><a id="sub-button" href="{% url 'profiles:Micro-thought-sort' user.username %}"> Thoughts </a></button>
				<button id="space-between" type="button" class="mdl-button mdl-js-button"><a id="sub-button" href="{% url 'profiles:Product-sort' user.username %}"> Products </a></button>
				<button id="space-between" type="button" class="mdl-button mdl-js-button"><a id="sub-button" href="{% url 'profiles:Article-sort' user.username %}"> Articles </a></button>
				<button id="space-between" type="button" class="mdl-button mdl-js-button"><a id="sub-button" href="{% url 'profiles:letter-list-view' user.username %}"> Official letter </a></button>
			</p>
		</div>
	</div>
	<div class="col-1"> </div>
</div>


			<!-- development guidlines -->
			<div class="ui info message"> 
				<p class="ui header"> Development guidelines for profile page </p>
				<p class="ui sub header"> this is a demo page for profile page view and obviously it can be even better. </p>
			    <div class="ui section divider"></div>
				<p class="ui header">Hubblelook will provide two kinds of user profile to the users which are personal and business account. A business account will have all the necessary features for a business/startups compare to a personal account. Personal accounts are designed to study the market, share your thoughts and knowing the market. </p>
				<p class="uk-text-bold">All necessary information for Personal account: </p>
				<ul>
					<li>User avatar, name, username, any URL and personal details.</li>
					<li>At the post display section, we’ll have tabs to sort posts by thoughts, blogs, and product. Also, customer care tabs to see user’s any customer care service.</li>
					<li>Only follow and settings button at the profile section. No about, investment, team button since this is a personal account.</li>
				</ul>
				
				<p class="uk-text-bold">All necessary information for business account: </p>

				<ul>
					<li>User avatar, name, username, one main URL and additional URL, type of company, headquarter, stocks, founded in. While we are running the MVP we might add more information into this section if it requires. </li>
					<li><b>Follow</b> -  This button would allow you to follow other users. User can see all their followers and following.</li>
					<li><b>About</b>  -  All necessary company information would be here. User should have the capability of edit, draft, delete this section. At the about page users can change, draft their “about” information but other users will not see that button. </li>
					<li><b>Team</b> - After clicking on this tab, it’ll show the team members. User should have the capability of edit, draft, delete this section. At the team page users can change, delete, draft their “team” information but other users will not see that button. If user doesn’t provide any team information then “Team button” will not appear at the profile.</li>
					<li><b>Investment</b> - This section will give us the basic investment information for a company in the initial stage. For now, we’ll have a plain text editor with the capability of posting charts. At the investment page users can change, delete, draft their “investment” information but other users will not see that button. If the user doesn’t provide any investment information then “investment button” will not appear at the profile.</li>
				</ul>
				<p class="uk-text-lead"><b>Note:</b> only “about page” will not have any delete option.</p>
			</div>
			<!-- development guidlines endhere -->


<!-- templates for thought, blog and product  -->
<div class="row" style="margin-right: 10px; margin-left:10px; ">
  <!--  Grid from Boothstrape -->
  <div class="col-lg-3"> </div>
  <div class="col-lg-7">
    <div style="padding-top: 30px;">
      {% for post in posts %}
        {% if post.micro_thought %}
          <div class="ui items">
            <div class="item">
              <div class="content">  
                <!-- posts details information such as user avater, time, edit option and more-->
                  {{ post.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>
                  <span class="uk-text-meta">,{{ post.pub_time|naturaltime }} </span>
                  <span uk-icon="more" class="right floated"></span>
				<div uk-dropdown>
				    <ul class="uk-nav uk-dropdown-nav">
				        <li><a href="#">Edit</a></li>
				        <li><a href="#">Delete</a></li>
				        <li><a href="#">Report</a></li>
				    </ul>
				</div>	
          		 <!-- posts details information such as user avater, time, edit option and more end here-->
                <p class="uk-text-lead"><span class="ui big label" > {{ post.Initial_keyword_for_thoughts }} </span> {{ post.micro_thought }}</p>
                <!-- end templates -->
                <div class="extra content">
                  <span> Save</span>
                  <span> Share</span>
                  <span> Replies </span>
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endif %}
        <!-- Templates for Article -->
        {% if post.micro_article %}
          <div class="ui items">
            <div class="item">
              <div class="content">
              	<!-- posts details information such as user avater, time, edit option and more-->
                {{ post.user|capfirst }} <span class="meta"> CEO, Hubblelook </span> <span class="uk-text-meta"> , Article </span><span class="uk-text-meta">, {{ post.pub_time|naturaltime }} </span><span uk-icon="more" class="right floated"></span>
				<div uk-dropdown>
				    <ul class="uk-nav uk-dropdown-nav">
				        <li><a href="#">Edit</a></li>
				        <li><a href="#">Delete</a></li>
				        <li><a href="#">Report</a></li>
				    </ul>
				</div>	
				<!-- posts details information such as user avater, time, edit option and more end here-->
              
                <a href="{% url 'details' post.id post.slug %}" style="text-decoration: none;
                  cursor: pointer;" >
                  {% autoescape off %}
                  <p class="uk-text-lead"><span class="ui big label"> {{ post.Initial_keyword_for_articles }} </span> {{ post.article_title|title }} </p> </a>
                {% endautoescape %}
                <div class="extra content">
                  <span> Save</span>
                  <span> Share</span>
                  <span> Replies </span>
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endif %}
        <!-- end templates -->

        <!-- Templates for Product -->
        {% if post.product_name %}
          <div class="ui items">
            <div class="item">
              <div class="content">
              	<!-- posts details information such as user avater, time, edit option and more-->
                {{ post.user|capfirst }} <span class="meta"> CEO, Hubblelook </span>
                <span class="uk-text-meta">,{{ post.pub_time|naturaltime }} </span>
                <span uk-icon="more" class="right floated"></span>
				<div uk-dropdown>
				    <ul class="uk-nav uk-dropdown-nav">
				        <li><a href="#">Edit</a></li>
				        <li><a href="#">Delete</a></li>
				        <li><a href="#">Report</a></li>
				    </ul>
				</div>	
				<!-- posts details information such as user avater, time, edit option and more end here-->
                <div style="padding-bottom: 5px; padding-top:0px; "><span>PRODUCT</span></div>
                <div class="uk-text-center">
                    <a id="product" href="{% url 'add-product-view' post.id post.slug %}">
                      <p class="uk-text-lead uk-text-bold">{{ post.product_name|title  }}</p></a> 
                  <p>
                    {% if post.launched_time %}
                      <span class="date"><span class="launched-in">Launched in</span> <strong>{{ post.launched_time }}</strong></span>
                      {%  endif %}
                    </p>
                  </div>
                  <div class="extra content">
                    <span> Save</span>
                    <span> Share</span>
                    <span> Replies </span>
                  </div>
                </div>
              </div>
            </div>
  <!-- Templates for Product -->


            <div class="ui section divider"></div>
          {% endif %}
        {% endfor %}
        <!----- official letter  card ---->
      
        {% for letter in official_letter %}
          <div class="item">
            <div class="content">
            
              <div class="ui selection list">
                <a class="ui blue image label">
                  Official letter
                  <div class="detail">from {{ user.username|capfirst }}</div>
                </a>
                <span class="uk-align-right"> {{ letter.pub_time|naturaltime }} </span>
              </div>

              <a class="uk-text-lead letter" href="{% url 'letter-details' letter.id letter.slug %}"> {{ letter.title }}</a>
              <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; ">
              </div>
              <p> by <span class="meta">  {{ letter.letter_from }}</span> </p>
                  <div class="extra content">
                    <span> Save</span>
                    <span> Share</span>
                    <span> Replies </span>
                  </div>
            </div>
          </div>
          <div class="ui section divider"></div>
    
        {% endfor %}
      </div>
      <div class="col-lg-2"> </div>
    </div>
  </div>
<!-- end templates -->








<!------------------------------ -->
<!--footer -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}

		<style type="text/css">
		body, html {
			margin-right: 10px;
			margin-left: 10px;
			background-color: #fafafa;
		}

		a:hover {
			color: #4183c4;
			text-decoration: none;
		}

		#mian-container {
			min-height: 100vh;
		}

		#header-details {
			font-size: 18px;
			line-height: 22px;
		}

		#quick-word-description {
			padding-left: 10px;
			padding-bottom: 20px;
		}

		#sub-button {
			color: black;
			font-weight: bold;
			text-decoration: none;
		}

		#space-between {
			padding-right: 5px;
			padding-left: 5px;
			font-size: 14px;
		}

		.grid-padding {
			padding-left: 20px;
		}

		.profile-header-button {
			padding-top: 40px;
			padding-bottom: 20px;
		}

		#follow-button {
			margin-top: 20px;
			margin-left: 20px;
		}

		.card-text {
			font-size: 20px;
			padding-bottom: 15px;
		}

		.ui.message {
			background-color: #41444b;
		}

		.content {
			padding-bottom: 5px;
		}

		.card {
			padding-left: 10px;
		}

		#analysis:hover {
			color: black;
			cursor: pointer;
		}

		#keep-it:hover {
			cursor: pointer;
			color: black;
		}

		</style>
{% endblock %}