{% extends 'base.html' %}
{% block body %}
  {% load humanize %}
  
  {% include 'sinppet/nav-bar.html' %}
  {% block nav %}
  {% endblock %}
  <!-- Another model type   -->
  <!-- uikits   -->
  <div class="jumbotron uk-box-shadow-small uk-padding uk-panel">
    <div class="grid">  <!-- bootstrape grid   -->
    <div class="row">
      <div class="col-3">
        <img src="" width="120">
        <h2 class="ui header">{{ edit.name }}</h2>
        {% if edit.title %}
          <div class="lead">{{ edit.title }}</div>
        {% endif %}
        {% if edit.url %}
          <a href="#">{{ edit.url }}</a>
        {% endif %}
        {% if edit.additional_url %}
          <div>
            <p><i class="chart area icon"></i> <a>{{ edit.additional_url }}</a></p>
          </div>
        {% endif %}
        {% if edit.Type_of_company %}
          <p> Type: {{ edit.Type_of_company }}
            <br> Headquarter: America
          </p>
        {% endif %}
        
      </div>
      <div class="col-8">
        {% if edit.established %}
          <h6> established: </h6>
        {% endif %}
        <p>{{ edit.established }} </p>
        {% autoescape off %}
        <h2 class="ui header"> About </h2>
        <p id="header-details">{{ edit.about_details|capfirst|truncatewords:50 }} </p>
      {% endautoescape %}
      
      <!-- Modal for more information
      Uikits modal
      -->
      {% if edit.about_details|wordcount >= 51 %}
        <a class="uk-button uk-button-text"
          uk-tooltip="title: Know more about {{ edit.name }}; pos: right"
        href="#modal-full" uk-toggle>MORE</a>
      {% endif %}
      
      <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
          <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-padding-large uk-align-center" uk-height-viewport>
              {% autoescape off %}
              <h1>{{ edit.name }}</h1>
              <p>{{ edit.about_details|capfirst  }}
              </p>
            {% endautoescape %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
</div>
</div>
<!-- end here   -->
<!--  Profile buttons  -->
<p uk-margin style="text-align: center;">
<button id="space-between"class="uk-button uk-button-text uk-text-capitalize "><a id="sub-button" href="{% url 'Micro-thought-sort' user.username %}"> Thoughts </a></button>
<button id="space-between"class="uk-button uk-button-text uk-text-capitalize "><a id="sub-button" href="{% url 'Product-sort' user.username %}"> products </a></button>
<button id="space-between"class="uk-button uk-button-text uk-text-capitalize "><a id="sub-button" href="{% url 'Article-sort' user.username %}"> article </a></button>
<button id="space-between"class="uk-button uk-button-text uk-text-capitalize "><a id="sub-button" href="{% url 'offical-letter-view' user.username %}"> official letter </a></button>
<button id="space-between" class="uk-button uk-button-text uk-text-capitalize "><a id="sub-button" href="{% url 'edit-profile-update' user.username edit.id %}">edit profile </a> </button>
</p>
<!--  Profile buttons end here  -->
<!-- ================================================================================================-->
<!-- Post cards =====================================================================================-->
<!-- ================================================================================================-->
<div class="row">
<div class="col-lg-3"> </div>
<div class="col-lg-7">
<div class="container">
  <div class="ui items">
    <!--================================================================================================================================= -->
    <!-- card type for thoughts  -------------------------------------------------------------------------------------------------------- -->
    <!--================================================================================================================================= -->
    
    {% for obj in quickword %}
      <div class="item">
        <div class="content">
          <div>
            <div class="right floated">
              <span uk-icon="more"></span>
              <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                  <form action="{% url 'micro-thoughts-delete' obj.id %}" method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <input type="submit" value="Confirm"/>
                  </form>
                </ul>
              </div>
            </div>
            <p>{{ user.username }} <span class="meta"> Ceo, Hubblelook </span> </p>
            <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; "> <p> {{ obj.pub_time|naturaltime }}</p> </div>
          </div>
          <p class="header"><span class="font-italic" > {{ obj.Initial_keyword_choices }}  </span> {{ obj.description }}</p>
          <div class="extra content">
            <span id="keep-it">
              Keep it
            </span>
            <span id="analysis"> Analysis </span>
            
          </div>
        </div>
      </div>
      <div class="ui section divider"></div>
    {% endfor %}
    <!--================================================================================================================================= -->
    <!-- card type for article  -------------------------------------------------------------------------------------------------------- -->
    <!--================================================================================================================================= -->
    {% for article in article_view %} <!-- article card -->
    
    <div class="item">
      <div class="content">
        <div>
          <span class="right floated" uk-icon="more">
          </span>
          <p>{{ user.username }} <span class="meta"> Ceo, Hubblelook </span> </p>
          <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; "> <span>  {{ article.article_pub_time|naturaltime }}</span><span class="meta">, ARTICLE </span></div>
          
        </div>
        <a class="header" href="{% url 'details' article.id article.slug %}" style="text-decoration: none; cursor: pointer;" >
          <span class="font-italic"> {{ article.Initial_keyword_choices }}</span> {{ article.title|title }}
        </a>
        <p style='color: black;'>
          {{ article.description|capfirst|truncatewords:25 }}
        </p>
        
        <div class="extra content">
          <span id="keep-it">
            Keep it
          </span>
          <span id="analysis"> Analysis </span>
          
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
  {% endfor %}
  <!--================================================================================================================================= -->
  <!-- card type for officila letter  (Oletter stand for official letter)-------------------------------------------------------------- -->
  <!--================================================================================================================================= -->
  {% for Oletter in official_letter %} <!-- official letter  card -->
  
  <div class="item">
    <div class="content">
      <div class="ui selection list">
        <div class="ui horizontal tiny blue label">
          official letter
        </div>
        <div class="right floated">
          <span uk-icon="more"></span>
        </div>
      </div>
      <a class="header" href="{% url 'offical-letter-details-view' Oletter.id %}"> {{ Oletter.title }}</a>
      <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; ">
        <span>  {{ Oletter.pub_time|naturaltime }}</span>
      </div>
      <p> From <span class="meta">  {{ Oletter.letter_from }}</span> </p>
    </div>
  </div>
  <div class="ui section divider"></div>
{% endfor %}
<!--================================================================================================================ -->
<!-- card type for products  -------------------------------------------------------------------------------------- -->
<!--================================================================================================================ -->
{% for product in addproduct %} <!-- product card -->
<div class="item">
  <div class="content">
    <div>
      <span class="right floated" uk-icon="more"></span>
      <p>{{ user.username }} <span class="meta"> Ceo, Hubblelook </span> </p>
      <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; "> <span>  {{ product.pub_time|naturaltime }}</span><span class="meta">, PRODUCT </span></div>
    </div>
    
    <div class="uk-text-center">
      <div class="ui header">
        <a id="product" href="{% url 'add-product-view' product.id product.slug %}">{{ product.product_name|title  }}</a>
      </div>
      <p>
        <span class="date"><span class="launched-in">Launched in</span> <strong> Sep 2014</strong></span>
      </p>
    </div>
    
    <div class="extra content">
      <span id="keep-it">
        Keep it
      </span>
      <span id="analysis"> Analysis </span>
      
    </div>
  </div>
</div>
<div class="ui section divider"></div>
{% endfor %}
<!---
--->
</div>
</div>
</div>
<div class="col-lg-2"> </div>
</div>
<!--  enddemo  -->
<!--================================================================================================================================= -->
<!--if no post then this template will appear  -------------------------------------------------------------------------------------- -->
<!--================================================================================================================================= -->
{% if obj and article or product is not None %}
<div class="ui grid">
<div class="row">
<div class="five wide column"></div>
<div class="center aligned six wide column">
<p> <b> You have not followed any one, yet!</b> <i class="meh icon"></i></p>
</div>
<div class="five wide column"></div>
</div>
</div>
{% endif %}
<!--  endif  -->
<!--footer -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}
<style type="text/css">
body {
margin-right: 20px;
margin-left:20px;
}
.grid-top {
margin-right:10px;
margin-left:10px;
margin-top: 10px;
margin-bottom: 30px;
padding-top: 30px;
padding-bottom:40px;
background: #58585b;
color:#FFFFFF;
border-radius: 0px;
box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
}
#header-details{
font-size: 15px;
line-height: 22px;
}
#quick-word-description {
padding-left: 10px;
padding-bottom: 20px;
}
#sub-button {
text-decoration: none;
color: black;
}
#space-between {
padding-right: 5px;
padding-left:5px;
padding-top: 15px;
font-size: 14px;
}
.grid-padding{
padding-left: 20px;
}
.profile-header-button {
padding-top: 40px;
padding-bottom: 20px;
}
#follow-button{
margin-top: 20px;
margin-left: 20px;
}
.card-text{
font-size: 20px;
padding-bottom: 15px;
}
.content {
padding-bottom: 5px;
}
.card{
padding-left: 10px;
}
#analysis:hover {
color: black;
cursor:pointer;
}
#keep-it:hover {
cursor: pointer;
color: black;
}
</style>
{% endblock %}