{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
  {% load i18n %}
  {% load account socialaccount %}
  {% block content %}
    <div style="min-height: 100vh;">
      <div class="container padding">
        <div class="row">
          <div class="col-lg-3 col-sm-0"></div>
          <div class="col-lg-6 col-sm-12 position">
            <div class="uk-text-center">
              <a href="{% url 'home' %}"> <p id="logo">  Hubblelook </p>
              <p id="logo-title" class="uk-text-center"> A Market Communication and Analysis Platform </p>
            </a>
          </div>
          <!--
          <h5>{% trans "Sign In Here" %}</h5>
          -->
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            <button class="ui button" type="submit">{% trans "Sign In" %}</button>
            
            <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
          </div>
          <div class="col-lg-3 col-sm-0"></div>
        </div>
      </div>
    </div>
    <p class="uk-text-center">© Hubblelook 2018</p>
    <!--===============================================================================-->
    <style>
    html, body {
    background-color: #b0bec5;
    margin-right: 10px;
    margin-left: 10px;
    }
    .position{
    padding-top: 100px;
    }
    #logo {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #263238;
    
    }
    #logo-title {
    font-family: 'Bitter', serif;
    font-weight:bold;
    color: #263238;
    padding-bottom:20px;
    
    
    }
    </style>
  {% endblock %}
{% endblock %}