{% extends 'base.html' %}
{% block body %}
  <!--  Navigation bar-->
  {% include 'sinppet/nav-bar.html' %}
  {% block nav %}
  {% endblock %}
  {% load humanize %}
  <!-- header for articles -->
  <div class="row" style="padding-top:60px;">
    <div class="col-lg-3 col-sm-0"></div>
    <div class="col-lg-6 col-sm-12 uk-text-center">
      <p class="uk-heading-primary uk-text-bold">Micro articles written by {{ user.username|capfirst }}</p>
    </div>
    <div class="col-lg-3 col-sm-0"></div>
  </div>

    <!-- buttons -->
  <div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 uk-text-center">
      <button id="space-between"class="uk-button uk-button-text uk-text-capitalize uk-text-lead "><a id="sub-button" href="{% url 'Micro-thought-sort' user.username %}"> Thoughts </a></button>
      <button id="space-between"class="uk-button uk-button-text uk-text-capitalize uk-text-lead "><a id="sub-button" href="{% url 'Product-sort' user.username %}"> products </a> </button>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
  </div>
   <!-- buttons end here -->

  <div class="row" style="padding-top:60px;">
    <div class="col-lg-3 col-sm-0"></div>
    <div class="col-lg-6 col-sm-12">
      <div id="mian-container">
        {% for article in article_view %} <!-- article card -->
        {% autoescape off %}
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div>
                <span class="right floated" uk-icon="more"></span>
                <p>{{ user.username }} <span class="meta"> Ceo, Hubblelook </span> </p>
                <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; "> <span>  {{ article.article_pub_time|naturaltime }}</span><span class="meta">, ARTICLE </span></div>
                
              </div>
              <a class="uk-text-lead" href="{% url 'details' article.id article.slug %}" style="text-decoration: none; cursor: pointer;" >
                <span class="font-italic"> {{ article.Initial_keyword_choices }}</span> {{ article.title|title }}
              </a>
              <p>
                {{ article.micro_article|capfirst|truncatewords:50 }}
              </p>
              
              <div class="extra content">
                <span id="keep-it">
                  Save
                </span>
                <span id="analysis"> Analysis </span>
                
              </div>
            </div>
          </div>
        </div>
        <div class="ui section divider"></div>
      {% endautoescape %}
                {% empty %}
          <p class="uk-text-lead"> No Articles has been posted by you </p>
    {% endfor %}
  </div>
</div>
<div class="col-lg-3 col-sm-0"></div>
</div>
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}
<style>
  #mian-container{
  min-height: 100vh;
  }
  #sub-button {
  text-decoration: none;
  color: black;
  }
  #space-between {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 20px;



</style>
{% endblock %}