{% extends 'base.html' %}
{% block body %}
  <!--  Navigation bar-->
  {% include 'sinppet/nav-bar.html' %}
  {% block nav %}
  {% endblock %}
  {% load humanize %}
  <!-- Heading  -->
  <div class="row" style="padding-top:60px;">
    <div class="col-lg-3 col-sm-0"></div>
    <div class="col-lg-6 col-sm-12">
      <p class="uk-heading-primary uk-text-bold">Micro thoughts written by {{ user.username|capfirst }}</p>
    </div>
    
    <div class="col-lg-3 col-sm-0"></div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 uk-text-center">
      <button id="space-between"class="uk-button uk-button-text uk-text-capitalize uk-text-lead "><a id="sub-button" href="{% url 'Product-sort' user.username %}"> products </a> </button>
      <button id="space-between"class="uk-button uk-button-text uk-text-capitalize uk-text-lead "><a id="sub-button" href="{% url 'Article-sort' user.username %}"> articles </a> </button>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
  </div>
  <div class="row" style="padding-top:60px;">
    <div class="col-lg-3 col-sm-0"></div>
    <div class="col-lg-6 col-sm-12">
      <div id="mian-container">
        {% for obj in quickword %}
          <div class="ui items">
            <div class="item">
              <div class="content">
                <div>
                  <span class="right floated" uk-icon="more"></span>
                  <div uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                      <form action="{% url 'micro-thoughts-delete' obj.id %}" method="post">{% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <input type="submit" value="Confirm"/>
                      </form>
                    </ul>
                  </div>
                  <p>{{  obj.user|capfirst }} <span class="meta"> Ceo, Hubblelook </span> </p>
                  <div class="uk-text-meta" style="padding-bottom: 5px; padding-top:0px; "> <p> {{ obj.pub_time|naturaltime }}</p> </div>
                </div>
                <p class="uk-text-lead"><span class="font-italic" > {{ obj.Initial_keyword_choices }}  </span> {{ obj.micro_thought }}</p>
                <div class="extra content">
                  <span id="keep-it">
                    Save
                  </span>
                  <span id="analysis"> Analysis </span>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-3 col-sm-0"></div>
  </div>
  {% include 'sinppet/footer.html' %}
  {% block footer %}
  {% endblock %}
  <style type="text/css" media="screen">
  html, body {
  margin-right: 8px;
  margin-left:8px;
  }
  .padding  {
  padding-top: 50px;
  }
  #mian-container {
  min-height: 100vh;
  }
  #sub-button {
  text-decoration: none;
  color: black;
  }
  #space-between {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 20px;

  }
  
  </style>
{% endblock %}