{% extends 'base.html' %}
{% block body %}
	<!-- Navigation bar-->
	{% include 'sinppet/second-nav-bar.html' %}
	{% block nav %}
	{% endblock %}
	<!-- sementic ui -->
	<div id="wrapper">
		<!-- Search bar -->	
		<div style="padding-bottom: 30px; padding-top: 50px;" class="uk-heading-primary uk-text-bold uk-text-center"> Search anything about Hubblelook </div>	
		<form action="" method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-2 col-sm-0"> </div>
				<div class="col-lg-8 col-sm-12">
					<div class="ui fluid action input">  <!--Sementic ui search form -->
					<input type="search" name="q" placeholder=" What do you want to know?">
					<div class="ui secondary button">Search</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-0"></div>
		</div>
	</form>
	<!-- Customer care blog post -->
	{% for blog in blogs %}
		{% autoescape off %}
		<div class="blog-area">
			<div class="row">
				<div class="col-lg-3"> </div>
				<div class="col-lg-6">
					<a style="text-decoration: none; color: black;" href="{% url 'customecare-article' blog.id blog.slug %}"> <p class="uk-text-large uk-text-bold" style="cursor: pointer;">{{ blog.title }}</p> </a>
					<div> {{ blog.topic|upper }} </div>
					<div style="font-size: 16px;"> {{ blog.details|capfirst|truncatewords:70 }} </div>
					{% if blog.written_by %}
						<p style="padding-top: 15px;" class="uk-text-meta"> Written by {{ blog.written_by }} </p>
					{% endif %}
					
				</li>
			</ul>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>
{% endautoescape %}
{% endfor %}
</div>
<!-- footer -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}
<style>
	
	html, body {
		margin:0;
		padding: 0;
		height: 100%;
	
	}
	#wrapper {
		min-height: 100vh;
	}
	.customer-care-header{
		padding-top: 30px;
		font-size:45px ;
		font-weight: bolder;
		word-spacing: 10px;
	}
	#detials {
		color:#000000;
		font-size: 17px;
	}
	.blog-area {
		padding-top: 70px;
	}
	
</style>
{% endblock %}