<!---- This the home page of Hubblelook ---->
<!-- base.html contains all CDN -->
{% extends 'base.html' %}
{% block body %}
	{% load humanize %}
	<!--  Navigation bar-->
	{% include 'sinppet/nav-bar.html' %}
	{% block nav %}
	{% endblock %}
	<div id="main-container">
		<div class="row">
			<div class="col-lg-2 col-sm-0"></div>
			<div class="col-lg-8 col-sm-12">
				{% autoescape off %}
				<p style="cursor: pointer;" class="uk-text-bold uk-heading-primary">{{ blogs.title|capfirst }}</p>
				<div class="uk-text-primary"> {{ blogs.topic|upper }} </div>
				<p>{{ blogs.details|capfirst  }}</p>
			{% endautoescape %}
		</div>
		<div class="col-lg-2 col-sm-0"></div>
	</div>
</div>
<!--  Footer  -->
	{% include 'sinppet/footer.html' %}
	{% block footer %}
	{% endblock %}

	<style>
	html, body {
		margin-right: 10px;
		margin-left: 10px;
	}
		#main-container {
			min-height: 100vh;
			padding-top: 50px;
		}
	</style>
	
{% endblock %}