<!---- This the home page of Hubblelook ---->
<!-- base.html contains all CDN -->
{% extends 'base.html' %}
{% block body %}
	{% load humanize %}
	<!--  Navigation bar-->
	{% include 'sinppet/nav-bar.html' %}
	{% block nav %}
	{% endblock %}
	<div id="main-container">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				{% autoescape off %}
				<h1>{{ blogs.title|capfirst }}</h1>
				<p>{{ blogs.details|capfirst  }}</p>
			{% endautoescape %}
		</div>
		<div class="col-1"></div>
	</div>
</div>
<!--  Footer  -->
	{% include 'sinppet/footer.html' %}
	{% block footer %}
	{% endblock %}

	<style>
		#main-container {
			min-height: 100vh;
			padding-top: 50px;
		}
	</style>
	
{% endblock %}