<!---- This the home page of Hubblelook ---->
<!-- base.html contains all CDN -->
{% extends 'base.html' %}
{% block body %}
{% load humanize %}
<!--  Navigation bar-->
{% include 'sinppet/second-nav-bar.html' %}
{% block nav %}
{% endblock %}


	<div style="min-height: 100%;">
		<div class="row" style="padding-top: 80px; padding-bottom: 80px; cursor: pointer;">
			<div class="col-lg-3 col-sm-0"></div>
			<div class="col-lg-6 col-sm-12">
				<!-- bold FAQ sign-->
				<div class="uk-heading-primary uk-text-bold">FAQ</div>
				<div class="ui section divider"></div>

				<div class="ui large header">Q: Why we are using initial keywords?</div>
				<p class="sub header">Initial keywords are the core of Hubblelook and it completely shapes, present our perspective. Our number of initial keywords are  intentionally few. It really helps you to write you a on topic precise post which is very necessary in the era of internet. 
				<br>Due to Initial keywords facility your search experience on Hubblelook just boosted incredibly. You can search exactly what you really want to know.</header>

				<div class="ui large header">Q: Do we think our every "Initial Keywords" as a product itself?</div>
				<p class="sub header">Initial keywords are working so well in our eco-system. Everyday we are adding more features and facilities to enhance our every initial keywords. For instance, we are adding lots of features to make our customer care initial keyword to help businesses to increase their feed-back to their beloved customer. 
				<br>Though we have not announced that our every initial keywords are individually a product itself but we have different focus in each initial keywords to deliver a phenomenal market communication platform.</p>

				<div class="ui large header">Q: Should I include as much information as possible into my business account?
				</div>
				<p class="sub header">Definitely, you should. Hubblelook's business profile is your new linked for businesses. People can know your businesses from it's beginning to recent times.   
				<br>Even, you might start collaborating with other businesses as well.</p>
				
				<div class="ui large header">Q: Why Hubblelook provides three kind of post facility?</div>
				<p class="sub header">People are connecting with market from different angels and It was not easy for us to build a common platform for all kind of different needs. 
				<br>Our three kind of post facility would allow any person or business to share their thoughts, knowledges, recent working status, ideas and more very easily.</p>

				<div class="ui large header">Q: Why have we limited the number of words in post for "Micro thoughts" and "Micro Articles"?</div>
				<p class="sub header">We have always wanted to make people's life even easier. Sometimes, it's not easy to figure out what is right for us, in this competitive world but we are determined to do so because this is our fundamental cause. 
				<br>Long articles often hard to read and sometimes writes are not forcing themselves enough to precise their writing. "Micro thoughts" are being inspired from same philosophy which is time and impact, and it really boosts people's experiences from every possible way.</p>

				<div class="ui large header">Q: Why Hubblelook have two kind of user account which are business and personal account?</div>
				<p class="sub header">The reason of having two kind of user experience is simple which is better user experience. In the personal account some of the information's are not mentioned to fill-in into the profile section which is mandatory for the business account holders.</p>

			</div>
			<div class="col-lg-3 col-sm-0"></div>
		</div>
	</div>


	<!--  Footer  -->
{% include 'sinppet/footer.html' %}
{% block footer %}
{% endblock %}

<style>
html, body {
	margin-right: 10px;
	margin-left: 10px;
}
</style>
{% endblock %}